// VcA-Colors
$black:     #343a40;
$blue:      #008FC3;
$darkBlue:  #002e6d;
$lightBlue: #B8D8EA;
$grey:      #CCCCCC;
$grey-dark: #AAAAAA;
$white:     #FFFFFF;
$red:       #fb4202;


// Goldi-Colors
$goldeimer: #ffe500;

$vca-main: #008fc3;
$vca-primary-light: #b8d8ea;
$vca-primary-dark: #002e6d;
$vca-secondary-color: #55c0e9;
$vca-secondary-darker: #03558c;
$vca-red: #f12222;
$vca-red-dark: #b50846;
$vca-green: #33af50;
$vca-green-dark: #559955;
$vca-yellow: #ffe500;
$vca-yellow-dark: #ffe500;
$vca-orange: #ff5522;
$vca-orange-dark: #fb4202;