// VcA-Colors
$main-color:            #008fc3;
$primary-light:         #b8d8ea;
$primary-dark:          #002e6d;
$secondary-light:       #55c0e9;
$secondary-dark:        #03558c;

$white:                 #FFFFFF;
$grey:                  #CCCCCC;
$grey-dark:             #AAAAAA;
$red:                   #f12222;
$red-dark:              #b50846;
$green:                 #33af50;
$green-dark:            #559955;
$yellow:                #ffe500;
$yellow-dark:           #ffe500;
$orange:                #ff5522;
$orange-dark:           #fb4202;