
$vca-blue: #008fc3;
$vca-secondary-light-blue: #55c0e9;
$vca-secondary-dark-blue: #03558c;
$vca-light-light-blue: #b8d8ea;
$vca-dark-dark-blue: #002e6d;
$vca-white: #FFFFFF;
$vca-super-light-blue: #b8d8ea;

$vca-red: #e50846;
$vca-green: #45b7a9;
$vca-yellow: #ffe500;
$vca-orange: #ff5522;
