// VcA-Colors
$black:     #343a40;
$blue:      #008FC3;
$darkBlue:  #002e6d;
$lightBlue: #B8D8EA;
$grey:      #F5F5FF;
$white:     #FFFFFF;
$red:       #fb4202;


// Goldi-Colors
$goldeimer: #ffe500;

