.sticky {
  position: fixed !important;
  top: 0;
  bottom: auto !important;
  width: 100% !important;
  @include media(large) {
    position: fixed !important;
    bottom: inherit;
    right: 0;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0);
    margin: 0 !important;

    transition: margin .25s ease-out;
  }
}

.header {
  position: sticky;
  bottom: 0;
  display: flex;
  height: 40px;
  background-color: $main-color;

  .logo-container {
    order: 0;
    flex-grow: 1;
    padding-left: 10px;
    display: flex;

    @include media(large) {
      flex-basis: 70%;
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
    }

    .logo {
      cursor: pointer;
      position: relative;
      z-index: 9;

      img {
        margin-top: 1vw;
        max-height: 35px;
        width: auto;
      }

      @include media(large) {
        background-size: 100% 100%;
        padding: 1% 1%;
        transform: translateY(0);
        margin: 5px 0 0 -50px;
        width: 250px;
        height: max-content;
        text-align: center;

        logo:hover {
          transition: transform .45s cubic-bezier(.63, .49, 0, 2.1);
        }

        img {
          margin-left: 0;
          margin-top: 0;
          width: 140px;
          max-height: 72px;
          height: auto;
        }
      }
    }
  }

  .language-container-mobile {
    display: flex;
    width: max-content;
    margin: auto;
    padding-right: 10px;
    order: 1;
    flex-grow: 0;

    span.normal-flag {
      transform: scale(.35);
      -ms-transform: scale(.35);
      -webkit-transform: scale(.35);
      -moz-transform: scale(.35);
      margin: -15px -20px;
    }

    span.small-flag {
      transform: scale(.2);
      -ms-transform: scale(.2);
      -webkit-transform: scale(.2);
      -moz-transform: scale(.2);
      margin: -15px -25px;
    }

    @include media(large) {
      display: none;
    }
  }

  .burger-menu-icon {
    position: relative;
    margin: auto;
    display: block;
    order: 2;
    flex-grow: 0;
    padding: 0 15px 0 15px;
    cursor: pointer;

    .burger-bar {
      width: 20px;
      height: 3px;
      background-color: $primary-dark;
      margin: 4px 0 4px 0;
      border-radius: 2px;
      transition: all 0.2s;
    }

    .burger-bar-display {
      display: block;
    }
    .burger-bar-hide {
      display: none;
    }
    .burger-bar-appear {
      opacity: 1;
    }
    .burger-bar-disappear {
      opacity: 0;
    }

    .burger-bar-rotate-1 {
      position: absolute;
      bottom: 3px;
      transform: rotate(45deg);
    }
    .burger-bar-rotate-2 {
      position: absolute;
      bottom: 3px;
      transform: rotate(-45deg);
    }

  }

  @include media(large) {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    padding: 0 60px 0 0;
    height: 60px;
    z-index: 8;

    .logo-container {
      justify-content: flex-start;
    }
  }
}


.navContainer {
  position: relative;

  .nav-bar {
    ul {
      position: relative;
      width: 90%;
      padding: 0;
      z-index: 9;
      -moz-box-pack: center;
      margin: 0 auto;
      justify-content: center;
      list-style-type: none;
      display: flex;
    }

    li {
      flex: auto;

      a {
        cursor: pointer;
        display: block;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
    }

    li.close-tabs {
      background-color: $primary-dark;

      a {
        padding: 0;
      }

      @include media(large) {
        display: none;
      }
      :hover {
        color: $white;
      }
    }

    @include media(small) {

      #menuList {
        display: block;
        transition: all 0.4s;
      }

      .menu-inactive {
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
      }

      .menu-active {
        visibility: visible;
        opacity: 1;
      }


      ul {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $main-color;
        max-width: 90%;
        min-width: 50%;
        width: auto;
      }
      li {
        a {
          color: $white;
        }

        a:hover {
          color: $primary-dark;
        }
      }

    }


    @include media(large) {

      .burger-menu-icon {
        display: none;
      }

      div {
        display: flex;
      }

      ul {
        font-weight: 600;
        width: 50%;
        height: 60px;
        margin-top: -60px;
        margin-right: 20px;
        font-size: larger;
        background-color: $main-color;
      }
      li {
        cursor: pointer;
        padding: 0;
        display: table-cell;
        vertical-align: middle;

        a {
          margin: auto;
          width: auto;
          color: white;
          padding: 0;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        :hover a, a:hover {
          color: $primary-dark;
        }
      }
    }
  }
}

.sub-header {
  display: none;
  z-index: 9;

  @include media(large) {
    padding: 5px 30px;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    background-color: $primary-dark;
  }

  .language-container {
    padding-right: 15px;
    position: relative;
    flex-basis: 5%;
    justify-content: center;

    .language-fit {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    @include media(large) {
      display: flex;
      height: 100%;
      justify-content: flex-end;
    }
  }

}

.donate {
  height: 100%;
  display: table;

  div {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;

    a {
      font-family: 'Roboto Slab', serif;
      font-weight: bold;
      color: $white;
      text-decoration: none;
    }

    img {
      height: 30px;
      padding: 10px 20px 0 20px;
      width: auto;
    }
  }

}


/*
    CSS NAVIGATION BUTTON
*/
.arr-btn-box {
    width: 85%;
    margin: auto;
    display: flex;

    .single {
        display: block;
        justify-content: flex-end;

        .arr-btn-back {
            float: left;
            @include media(large) {
                float: none;
            }
        }
        .arr-btn-next {
            float: right !important;
            @include media(large) {
                float: none;
            }
        }

    }

    .arr-buttons {
        flex: auto;
        flex-basis: 100%;
        margin-bottom: 1em;
        text-align: right;
        display: flex;

        @include media(large) {
            display: block;
        }

        .arr-btn-next {
            flex-basis: 50%;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARcAAABJCAYAAAAXIGLnAAABxElEQVR4nO3dwW3bQBAF0C3BJaiCwA0EUAkqwSW4BHUwRCrQyeeUYIBLKTengBxUghsI7AONOAaSmESW3qXwHvDvcxpwuMNlSgAAAAAAAAAAAAAAAAAAAAAAAAAAtCxOmxT9tnYZwCWJfEjRP43JZ00G+H9x3L02lt+Tv6Y4bWqXB6xV9Ps/N5f+KUV+TJFva5cIrFH02783l19N5rtRCZjvn08vb5rMIcXDVe1ygTUZT4vuJzSYxxTDTe1ygbWJ4WZsIO8+ydynGK5rlwusSTxcpRi6aaNSvzcqAfNEv315mfveqHROcdzVLhdYm8i300YluzHAXHHajM1jygvffl+7XGBtxlHpbDcGWIbdGGAxs3ZjWv2MIIZu4tm7iLSaLv9IX/Ln2u3k1eTHLxFpP/ln6r59qt1WRpNeHonIatL1d7XbykhzEbmstNNcjEUil5OWxqKU0ozvHESk1TT3Qhdo00UcRQNtsUQHFGX9HyjKh4tAca5cAIpyWRRQlGsugeJc0A0U5dciQHF2VoDi/M4VWIQf0QOLiOPOzgqwjMiHtzsrRiCglPG0aFu7DAAAAAAAAAAAAAAAAAAAAAAAAAAA+ADPQWnrkOTgSFQAAAAASUVORK5CYII=");
            @include media(large) {
                margin-left: 50px;
            }
        }
        .arr-btn-next:hover {
            transition: .3s;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARcAAABJCAYAAAAXIGLnAAABwklEQVR4nO3dwW3bQBAF0CnBJagCauB7AJWgEtwAN5sOVIJL0Clnl+ASXEAOKkENBMpBQAwHSUAhFHbJvAf8+5wGO8shGQEAAAAAAAAAAAAAAAAAAAAAAAAAQM+ybiLrrnUZwJoM5RjDeIlhvMR2PGkywL/Luv/ZWD6kvETWTevygKXKcvh9cxkvsR3PkWNtXSKwRFl3f2wu703mzagE3O5vp5ePo9Ixsj60LhdYkqybGMrrhFPMObI+tS4XWJqsT7EdzxNOMa+RNVuXCyxJ1ocYyvOkUSnLwagE3CbrLrbj24RR6RRZ963LBZYmxzpxVLIbA9zoeuH7Mu3CtxxalwsszXVUOtmNAe7DbgxwNzftxvT6GsFQnqddKIlIvynf4vHLp9bt5N3k45eI9J/yPR4/D63bytWUyyMRWVK+tm4rV5qLyNrSSXMxFomsKD2NRREx+T0HEek4vV3oAn1axaNooC+W6IBZWf8HZuXFRWB2PrkAzMrHooBZ+cwlMDsf6AZm5dciwOzsrACz8ztX4C78iB64i6x7OyvAfQzl+MvOyq51ScBaZN1oKgAAAAAAAAAAAAAAAAAAAAAAAAAA/Cd+AG1X8GEjiRsjAAAAAElFTkSuQmCC");
        }

        .arr-btn-next:disabled:hover,
        .arr-btn-next:disabled {
            transition: .3s;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARcAAABJCAYAAAAXIGLnAAAB4ElEQVR4nO3dwW3bMBQGYI3gETxCRvAIHiUjZISMkBFyFO2DMkIXkOhDBiDtAD6qBwdp0waNnNCQ5H4f8N8JHx74qGeyqgAAAAAAAAAAAAAAAAAAAAAAAAAAmLBtPKyaeFyOvQ7gSjTxuKy7tKvb1Ndt6usuPyoywLeFLj+8FZbXhDal0Oa7sdcGzFjo0tOfxeXXLibttvGwGnuNwAx9tHP5ayfT5Ycm9oux1wrMSBP7xT93L7+1SnXMt2OvF5iZEPfr0Kb0+S4mPW3iy83Y6wVmpIn9om7z/WcF5pR8r1UCzrKJLzdDWqW6S7sQ9+ux1wvMTB3z7dBWyWwMcJbTge+AL0pmY4Cv2MbD6t0kr9kYoKTQ5rshrdLpbwQOfIEzNPG4NBsDXEyI+/WQVil06cckZ2MGfxYTkUkndHkzqVZp0CGSiMwioU3PY9eUqqpeT6gn8IOISLmMXVeqqlJcRK4xY9eVN9oikevJZNqiqnKgK3ItmdyBLjBNs/8UDUyLITqgOOP/QFH+uAgU5coFoDiXRQFFueYSKMoF3UBxnhYBivIoGnARnnMFLsJD9MBFfLRzMbMCfFsTj8t3k7ddfjSzAhSzjYeVogIAAAAAAAAAAAAAAAAAAAAAAAAAwH/iJ2pjSUU5LLaJAAAAAElFTkSuQmCC");
        }

        .arr-btn-next-long {
            flex-basis: 50%;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtsAAABJCAYAAADsQerJAAACf0lEQVR4nO3dsY0aQRSA4SmBEihhS6AESqEEOngbuIALHboEpJmFcFugAxM6Owerk418MoMNDHv3fdKfTzhavX2TEgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/EWMixR5lWJctD4KAAB8HLFfpyinFPl1auhdugEA4BaiHH9dtN8qxxT7deujAQDAvP1x0T5rl+KwbH1EAACYp3e/bJ995T6lyNvWxwQAgPmJobt84X4bLcmr1scFAID5iby9fOHOrynKix8oAQDgWnFYTnPaFy/cpxRl0/q4AAAwP9M6wIrRkrxLMXStjwsAAPMS42LauV0zWmI3NwAAXC+Grn60xG5uAAC4XpTN+UuTdnMDAMDtxLiYtpHUjJbYzQ0AANeLvLKbGwAA7inytm60pHxr8wNlDH3l7IskSZI03/r8I0X58sCLdu0rPZIkSdIHqS9fH3TZrloULkmSJH2c+vzdZVuSJEm6R4+7bBsjkSRJ0ifrYWMkKflBUpIkSZ+jh/8gCQAAc/b0q/8AAGBuPGoDAAA35rl2AAC4gyibyn8NdykOy9bHBQCA5xdDN12gL46MnFLs162PCwAAzy/GxbQ5r2ZkZOj9AAkAADViv658gHGXYuhaHxcAAJ5fHJb1IyNl0/q4AAAwD9Wvm5cXIyMAAFAjhs7ObAAAuIeLF+1ysjMbAAD+hZ3ZAABwJ+9+2S5HO7MBAOB/TWv+fnsZ0s5sAAC4nRgXKfLKJRsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJiXn3Gb6PmQGqk2AAAAAElFTkSuQmCC");
            @include media(large) {
                margin-left: 50px;
            }
        }
        .arr-btn-next-long:hover {
            transition: .3s;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtsAAABJCAYAAADsQerJAAACdUlEQVR4nO3dsY0aQRSA4SmBEqiAfSVQAo3s6JVACQQugNChS6CU6+AIL7ODtXTGOpnhDAzLfZ/05xOOVm/flAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8QuSiR6xK56H0UAAB4HpGbMozHshp/TtWdSzcAAFzDML68X7R/N4wvJXLT+2gAADBvf1+0T6qHErnsfUQAAJinj75sn37lPpao297HBACA+YmMsxfu99GSde/jAgDA/ETdnr1wT6Mlez9QAgDApSKXZVUPDV+5jyXG7H1cAACYn2kd4PnRkukHyuh9XAAAmJfIRVnVXeNoid3cAABwschoHy2xmxsAAC4XY56+NGk3NwAAXM80WrJvGi2xmxsAAD4hcm03NwAA3FLUbeNoyY8+P1Cu6q7tgJIkSdKcq29lqN/ud9FufqVHkiRJepKG8ft9LttNi8IlSZKkJ2qory7bkiRJ0i2622XbGIkkSZK+WncbIynFD5KSJEn6It37B0kAAJizh1/9BwAAc+NRGwAAuDLPtQMAwA3EmI0jI4cSuex9XAAAeHyRUVb10DAyciyRm97HBQCAxzeNjOwaN43s/AAJAAAtIjdtDzDWQ4mM3scFAIDHF7lsHxkZs/dxAQBgHppfN697IyMAANAiMuzMBgCAWzh30R7Go53ZAADwGXZmAwDAjXz0ZXsaGbEzGwAA/su05u+PlyHtzAYAgOuJXJTItUs2AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwL78AeN44C7T+68QAAAAASUVORK5CYII=");
        }

        .arr-btn-next-long:disabled:hover,
        .arr-btn-next-long:disabled {
            transition: .3s;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtsAAABJCAYAAADsQerJAAACrklEQVR4nO3dsY0aQRSAYUqgBEqgBEqgFEq4EghcwIUOHe5AsDSyM9eBZwAJZ+vAtnwnn8XcGVj2/H3Sn0/4tJp9M5kAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMDftamfbtNh0aZ+OvRZAADgwwhpvwxdzk2X+x+VtaEbAAAuoIn56feg/bOYn0LaL4c+GwAAjNofg/azQsy7Np1mQ58RAABG6dUv288H7i7n0JWHoc8JAACjs0nH+bmB+9fVkm06LIY+LwAAjE7oysPZgbvLfYjl0Q+UAADwRm06zULMu7MDd5dzk8pq6PMCAMDohLRf1lwtCTHvNuk4H/q8AAAwKm3qp01X1jVXS+zmBgCAd9ik47z2aond3AAA8A5NKquXL03azQ0AABfTpn4aYnms2lpiNzcAALzdNh0WdnMDAMAVha481FwtaWL5MsgPlE1X1lUHlCRJkkZd+dbE8ulmg3btKz2SJEnSRynE8vkmw3bVPRdJkiTpAxVi/mrYliRJkq7QzYZt10gkSZL0v3WzaySTiR8kJUmS9L904x8kAQBgzO5+9R8AAIyNR20AAODCPNcOAABX0KSyqrkyEmLetek0G/q8AABw9zbpOA8x785/yc45pP1y6PMCAMDda1M/bbqyrtw0svYDJAAAVAhpv6z5ATLEvNuk43zo8wIAwN1r02lWe2WkSWU19HkBAGAUal83D7E8ujICAAAVNuk4tzMbAACu4NygHbqc7cwGAIB3sDMbAACu5NUv2zE/2ZkNAAD/KKT98uXLkHZmAwDAxbSpn27TYWHIBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxuU7uzo1N0z4VmMAAAAASUVORK5CYII=");
        }

        .arr-btn-back {
            flex-basis: 50%;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARcAAABJCAYAAAAXIGLnAAABv0lEQVR4nO3dwW3jMBAFUJbgElyCS0gJuW0bKcEdjEpICSlBAKn46JSQEgKkAO9BCBIgm5UWa4KU8R7w7wMfBhh5SKYEAAAAAAAAAAAAAAAAAAAAAAAAAAA3KqZDijymyJc55SXFede6LGCr4rxLkY+fTeVrpqF1ecAWxfN9ivL658aSLyny2LpEYEvitE9Rnv7SVD5Go4fWpQJbEfmYorytaCxPrUsFtiDy3fyRdrGpvKbId63LBXoX512K8rjcVPIlRT62LhfYgigP60agPKY47VuXC/Tu287KjyPQW4rn+9blAr2L8y7FNKwbgabBkhywbHln5cvm7XRoXS7Quzjt149A9laANf5lZ8UIBCyad1bWjEB2VoAV5kOGZeXOioh0m96miSG/t/9RRORKGVu3lNlQfnXwY4jIVdPD8qrmInKD6WU0MhaJ3FLG1i3lkw+6IjeS3j7ofvBXNFCVJTqgGuv/QFUOLgLVuHIBqMplUUBVrrkEqnFBN1CVp0WAqjyKBlTjOVegKg/RA9XMhyGPP+7CAPyXb7sx5cWSHXA9MR0cDwCuT3MBAAAAAAAAAAAAAAAAAAAAAAAAANiI32Rc7kweCNUEAAAAAElFTkSuQmCC");
            @include media(large) {
                margin-right: 50px;
            }
        }
        .arr-btn-back:disabled:hover,
        .arr-btn-back:disabled {
            transition: .3s;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARcAAABJCAYAAAAXIGLnAAAB8ElEQVR4nO3dwW3bMBQGYI3gETJCRvAIHqEjZISMkEMH6LHHHkX7oIzgBShmg1J2APemHgoXRWrEOpigZHwf8N8fdCD0qCeyaQAAAAAAAAAAAAAAAAAAAAAAAAAA4L51aVzt0nHdpXFVuxbgDnRpXLVxeGljHtuYxxBz3qXjunZdwIKFdNi0fX47Lyx/0+e32rUBC9Sl00Po8+t/i8o/qV0jsDAhDs+fLSptzGPo8752ncBC7NJxfbEFutASbdP7Y+16gZnr0rhq++HH1beVmHOIw3PteoEFaNPwFGLOE9qg1y6dHmrXC8zcNr0/hj7vp7RAIR02tesFZu7jzMrnGV4MzAFXhXTYTG2BbNgCV02ZWTlv2G7T4UvteoEFmDKz8udtZfimBQKumjqzEvq8958QcFWXTg9mVoCbavvhaxuHX9O+BInILDO38Y/QD9+rPxQRuUlCzHk2Q6uhzz9rPxARuV1ms21hcRG5s6Thqfa60jSNtkjknjKrtqhpbOiK3EXmtqF75lM0UJQhOqAo4/9AMX5cBIpy5AJQjMOigKIccwkU5YBuoBhXiwBFuRQNKMp1rkAxLqIHigrpsLnYKvX5rXZtwMJ9nI0JMWf/IwE306VxtUvHtcE6AAAAAAAAAAAAAAAAAAAAAAAAAIC5+w0clEmWvAKltwAAAABJRU5ErkJggg==");
        }
        .arr-btn-back:hover {
            transition: .3s;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARcAAABJCAYAAAAXIGLnAAABxUlEQVR4nO3dwW3bQBAF0ClBJbgCckpwCb6lit1sCSrBJaQEl6BDCnAJLsFAClAOSgLYiEAG0WJJ4T3g3wc8LDTUJxkBAAAAAAAAAAAAAAAAAAAAAAAAAAB3KlvGVE8xlXNM5RxzeY1sh9FjAXuV7RBZj38OlQ+pz6PHA/Yo21PM5e3vB0s5x1RPo0cE9iTbQ0z15fqh8itZ2uhRgb3Ieoy5vC8eLFN9GT0qsAfZHmMur4uHylzeItvj6HGBrct2iKl+W/6lUs6R9Th6XGAPsrSVK9Apsj2MHhfYus+dlesr0Htkexo9LrB1lxXoedUKNNVnJTlg2WJn5UPzNkePC2zdpbOycgXSWwHW+JfOihUIWHTprKxZgXRWgBWyHWIu39fdsBWR7WZr28RUfoy/KCJym2zlweD565fxF0NEbppNlFcdLiL3l82sRtYikTvKVtaiCDd0Re4mW7uh+5u/ooGulOiAbtT/ga48uAh045ULQFdeFgV05TWXQDde0A105dMiQFc+igZ043OuQFc+RA90k+0QWY9XuzAA/+VzN+bS5FWyA24kW3o8ALg9hwsAAAAAAAAAAAAAAAAAAAAAAAAAwE78BDXe8VOc25TPAAAAAElFTkSuQmCC");
        }

        button {
            font-family: 'Roboto Slab';
            font-size: 16px;
            cursor: pointer;
            white-space: nowrap;
            height: auto;
            width: auto;
            background: $white;
            color: $main-color;
            padding: 0.5em 1.2em;
            border: 0;
            font-weight: bold;
            text-decoration: none;
            background-size: contain;
            background-position: 0 25px;
            padding-bottom: 25px;
            background-repeat: no-repeat;

            @include media(large) {
                white-space: nowrap;
                font-size: 1.5em;
            }

        }

        button:hover {
            transition: .3s;
            color: $primary-dark;
        }

        button:disabled {
            background-color: $white;
            color: $main-color;
            opacity: 0.3;
            cursor: default;
        }

    }

}





/*
    CSS NAVIGATION BUTTON
*/

.nav-btn-container {
  display: flex;
  flex-wrap: wrap-reverse;

  .nav-next, .nav-back {
    flex: auto;
    flex-basis: 50%;
    margin-bottom: 1em;
  }

  .nav-next {
    text-align: right;
  }

  .nav-back {
    text-align: left;
  }

  .nav-next button:hover, .nav-back button:hover {
    transition: 0.3s;
    background-color: $primary-dark;
  }

  .nav-next button:disabled, .nav-back button:disabled {
    background: $white;
    color: $main-color;
    opacity: 0.3;
    cursor: default;
  }

  .nav-next button, .nav-back button {
    white-space: nowrap;
    font-size: .7em;
    cursor: pointer;
    height: auto;
    width: auto;
    background-color: $main-color;
    color: $white;
    padding: 0.5em 1.2em;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }


    @include media(large) {
        flex-wrap: nowrap;

        .nav-next button, .nav-back button {
            white-space: all;
            font-size: 1.2em;
        }

    }

}